.home{
    /* background: rgb(247, 246, 248); */
    /* padding: 0 8vw; */
}
.home .content{
    position: absolute;
    z-index: -1;

}
.home .content .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home .loader{
    background: rgb(71, 163, 71);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 25%;
    background: rgba(0, 0, 0, 0.466);
    z-index: 2;
    align-items: center;
    
}
